<p id="notice"><%= notice %></p>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @project.title %></h5>
    <p class="card-text"><%= @project.description %></p>
    <li class="btn btn-primary"><%= link_to 'Edit', edit_project_path(@project)%></li>
    <li class="btn btn-primary"><%=  link_to 'Back', projects_path%></li>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>